<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="Setup" Language="1033" Version="1.0.0.0" Manufacturer="Błażej Szulc" UpgradeCode="9a5df7f7-801b-4a23-a0d0-46b4ef33ee48" Codepage="1250">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="Setup" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="MYAPPDIR">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="Setup" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<Property Id="WIXUI_INSTALLDIR" Value="MYAPPDIR" />
		<UIRef Id="WixUI_InstallDir" />
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			 <Component Id="ProductComponent"> 
			<File Source="$(var.MyApplication)\WF-Host.dll" />
			 </Component> 
		</ComponentGroup>
	</Fragment>
</Wix>
